<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서버 내부 오류 발생</title>
    <link rel="stylesheet" href="../css/500.css">
</head>
<body>
    <main class="container">

        <section class="error-number-container">
            <h1>500</h1>
        </section>

        <section class="error-message-container">

            <h1>서버 내부 오류 발생</h1>

            <p th:text="|원인 : ${e}|">원인 : 예외 발생 원인 출력</p>

            <label for="detailOn">자세히 보기</label>
            <input type="radio" name="detail-toggle" id="detailOn" class="detailCheck">
            <div class="detail-container">
                <label for="detailOff">닫기</label>
                <input type="radio" name="detail-toggle" id="detailOff" class="detailCheck">

                <div class="detail-content">
                    <p th:each="t : ${e.getStackTrace()}" th:text="${t}"></p>
                </div>
            </div>



            <article class="btn-area">
                <a class="main-btn" href="/">메인 페이지로 이동</a>
            </article>
        </section>
    </main>
</body>

</html>