<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>로그인</title>
    <!-- css/js 파일 분리 과제 -->
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="login-container">
    <h2>로그인</h2>

    <div th:if="${error}" class="error-message" th:text="${error}"></div>

    <form action="/login" method="post" id="loginForm">
        <div class="form-group">
            <label for="memberEmail">이메일</label>
            <input type="email" id="memberEmail" name="memberEmail" placeholder="이메일 주소 입력" required>
        </div>
        <div class="checkbox-group">
            <label>
                <input type="checkbox" id="saveId" name="saveId" > <!-- th:value="${savedEmail}"-->
                아이디 저장
            </label>
        </div>

        <div class="form-group">
            <label for="memberPassword">비밀번호</label>
            <input type="password" id="memberPassword" name="memberPassword" placeholder="비밀번호 입력" required>
        </div>

        <button type="submit" class="btn-login">로그인</button>
    </form>
</div>
<script src="/js/main.js"></script>
</body>
</html>